.Feedback.success {
    background-color: lightgreen;
}

.Feedback.warn {
    background-color: lightsalmon;
}

.Feedback.error {
    background-color: lightcoral;
}

.Feedback {
    color: black;
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
    text-align: center;
    width: 200px;
    border-radius: 2px;
    padding: 5px;
    font-size: 14px;
    animation-duration: 3s;
    animation-name: show-hide;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes show-hide {
    0% { transform: translate(200px); }
    20% { transform: translate(-0px); }
    30% { opacity: 1; }
    100% { opacity: 0; }
}