.Form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-right: 0;
    margin-left: 0;
    border: .2rem solid rgba(0, 0, 0, .075);
}

.Form legend {
    background-color: #261f41;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 100%;
}

.Form fieldset {
    padding: 1.5rem;
    border: 0;
}

.Form input[type="submit"] {
    border: 0;
    background-color: rgb(247, 190, 83);
    color: #fff;
    font-size: 1rem;
}

.Form input[type="submit"]:hover {
    background-color: orange;
    cursor: pointer;
}