.Header {
    color: rgb(231, 187, 105);
    background-color: #261f41;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    z-index: 5;
}

h1.Header {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    font-size: 3.3rem;
}

nav.Header {
    position: sticky;
    top: 0;
    background-color: #261f41;
    padding-left: 1.5rem;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
}

nav.Header >* {
    margin-right: 1.5rem;
    font-size: 1.3rem;
}

nav.Header .current {
    color: rgb(231, 187, 105);
}