body {
  font-family: sans-serif;
  background-color: #FFF;
  height: 100vh;
  font-size: 14px;
}

*, * > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}



a,
a:visited,
a:link {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: rgb(231, 187, 105);
}

main {
  margin-top: 20px;
  margin-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border: .2rem solid rgba(0,0,0,.075);
}

input {
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  margin: 10px;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 14px;
}

input[type="submit"] {
  padding: 5px;
  border: 0;
  border-radius: 4px;
  background-color: rgb(247, 190, 83);
  color: #fff;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: orange;
  cursor: pointer;
}