body {
  font-family: sans-serif;
  background-color: #FFF;
  height: 100vh;
  font-size: 14px;
}

*, * > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a,
a:visited,
a:link {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: rgb(231, 187, 105);
}

main {
  margin-top: 20px;
  margin-left: 20px;
}

input {
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
  width: 100%;
}
