.Movie {
  background-color: #d0cdcd;;
  margin-bottom: 1.25rem;
  width: 100%;
  border-radius: 0.3rem;
  border: 0.07rem solid rgba(0,0,0,.125);
  box-shadow: 0 0.5rem 0.5rem -0.5rem gray;
}

.Movie h1 {
  font-size: 1.1rem;
  text-align: center;
  padding: 1.2rem;
}

.Movie .details {
  background-color: #FFF;
  width: 100%;
  padding: 1.2rem;
}

.Movie .details > * {
  padding-bottom: 0.6rem;
}