.SearchFilterBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: black;
  position: absolute;
  left: 0;
}

.SearchFilterBar form {
  display: flex;
  flex-direction: row;
}

.SearchFilterBar input, .SearchFilterBar select {
  height: 1.5rem;
  margin: 0.5rem;
}