.SortFilterBar {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background: black;
  position: absolute;
  left: 0;
}

.SortFilterBar form {
  display: flex;
  flex-direction: row;
}

.SortFilterBar input, .SortFilterBar select {
  height: 1.5rem;
  margin: 0.5rem;
}

.SortFilterBar .sortForm {
  height: 100%;
}

.SortFilterBar .sortForm div {
  height: 100%;
}
.SortFilterBar .sortForm input {
  font-size: 0.8rem;
  font-weight: bold;
  background: transparent;
  border: 0;
  color: white;
  text-transform: uppercase;
  /* width: 5.5rem; */
  margin-left: 0;
  text-align: left;
  height: 100%;

}

.SortFilterBar .sortForm input:hover {
  color: rgb(231, 187, 105);
  cursor: pointer;
}

.SortFilterBar .sortForm .active input {
  color: rgb(231, 187, 105);
} 

.SortFilterBar .sortForm .active {
  position: relative;
}

.SortFilterBar .sortForm .active.ascending::after {
  content: '+';
  color: rgb(231, 187, 105);
  font-size: 0.8rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0.4rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.SortFilterBar .sortForm .active.descending::after {
  content: '-';
  color: rgb(231, 187, 105);
  font-size: 0.8rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0.4rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.SortFilterBar .searchForm {
  height: 100%;
}
.SortFilterBar .searchForm input {
  border: 0;
}

.SortFilterBar .searchForm span {
  font-size: 1rem;
  color: gray;

  /* white-space:nowrap;
  line-height: 0.8rem; */
}