.SortFilterBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: black;
  position: absolute;
  left: 0;
}

.SortFilterBar form {
  display: flex;
  flex-direction: row;
}

.SortFilterBar input, .SortFilterBar select {
  height: 1.5rem;
  margin: 0.5rem;
}